.header{
    margin-bottom: 100px;
    height: 25vw;
    padding: 10px;
    margin-top: 0px;

}



h1{
    color: darkslategray;
    text-align: center;
    margin-right: 100px;
}
h2{
    text-align: center;
    color: darkslategray;
}
h3{
    color: darkslategray;
    text-align: center;
    margin-right: 100px;
}
h4{
    color: darkslategray;
}
h6{
    text-align: justify;

}

img{
    width: 200px;
    height: 200px;

}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 10px solid darkslategray;
    border-radius: 15px;
    height: 450px;
    box-shadow: 10px 5px 5px black;
   
}
@media screen and (max-width: 700px) {
    .flex-container {
        width : 48%;
    }
}

@media screen and (max-width: 400px) {
    .flex-container {
        width : 100%;
    }
}
.column{
    text-align: center;
    width: 32%;
    margin-left: -20px; 
    color: white;
    margin-top: 70px;
}
.column-1{
    text-align: center;
    width: 32%;
    margin-left: -80px; 
    color: white;
    margin-top: 70px;
}
.column-2{
    text-align: center;
    width: 32%;
    margin-right: 90px; 
    color: white;
    margin-top: 70px;
}

.column img{
    max-width: 100%;
    margin-left: -100px;
    border-radius: 15px;


}

.flex-container_o{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;

    margin-left: 10px;

}

.column_o{
    text-align: center;
    width: 32%;
    text-align: justify;
    height: 300px;
}
.column_o img{
    max-width: 100%;
    margin-left: 30px;
    border-radius: 15px;
}
title{
    color: black;
    margin-left: 110px;
}

.sidebar {
    background-color:  #f1f1f1;
    float: right;
    color: black;
    height: 730px;
    width: 440px;
    text-align: center;
    border: 5px solid darkslategray;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 20px;
    
}
.sidebar ul {
    
    text-align: left;
}

@media screen and (max-width: 600px) {
    .texte {
        font-size:20px;
    }
  }

@media screen and (max-width: 400px) {
    .texte {
        font-size:20px;
        color: blue;
    }
  }
  

.texte{
    margin-top: -25px;
    margin-right: 10px;
    
}
.texte li {
    
    text-align: left;
}

.lien{
    text-align: center;
    margin-bottom: 20px;
    color: darkslategray;
    margin-top: 40px;
    
    
}
.lien h2{
    margin-top: 50px;
    
    
}

.lien a{
    text-align: center;
    margin-bottom: 50px;
    color: darkslategray;
    margin-top: 50px;
}

.flex-container_a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}


.column_a {
    text-align: center;
    width: 32%;
}
.column_a img{
    max-width: 100%;
    margin-left: 0!important;
    height: 100px;
    width: 100px;
    
}
main{
    height: 780px;
    margin-top: 50px;
}
ul li{
    text-align: right;
}


.footer{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position:absolute;
    width:100%;
    height:470px;
    margin-top: 100px;
    border: 5px solid darkslategray;
}
.coul_a{
    border: 5px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;

}

.container-fluid {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    height: 100%;
    width: 100%;
    
    
}

.row {
    padding-left: 30px;
}
.col-md-3 {
    margin-left: 60px;
    margin-top: 60px;
    text-align: left;
    padding-left: 20px;
    
}
.col-md-3 ul {
    width: 600px;
    
}

.col-md-3 li h5{
    text-align: left;
    
    
}
.col-md-3  h4 {
    margin-top: 50px; 
    
    
}


html, body {
    margin: 0;
    padding: 0;
    height: 1500px;
    font-family: Arial, sans-serif;
 
    }

   